.container {
  margin: 20px;
}

.employee-list-container {
  padding: 0 80px;
}

.employee-list-container h2,
.employee-list-container > .page-link {
  margin: 0.83rem 0 0 0;
}

table {
  border: 1px solid black;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid black;
  background: #f0f0f0;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid black;
}

.no-employees {
  font-style: italic;
  color: #999;
  margin-top: 20px;
}

.top-table-container,
.bottom-table-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
}

.top-table-container {
  justify-content: space-between;
}

.top-table-container select {
  margin: 0 5px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container label {
  margin: 0;
}

.pagination-buttons {
  display: flex;
  gap: 50px;
}
