.container {
  margin: 20px;
}

.employee-list-container {
  padding: 0 80px;
}

.employee-list-container h2,
.employee-list-container > .page-link {
  margin: 0.83rem 0 0 0;
}

.no-employees {
  font-style: italic;
  color: #999;
  margin-top: 20px;
}

.top-table-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
}

.top-table-container {
  justify-content: space-between;
}

.top-table-container select {
  margin: 0 5px;
}

.actions-container {
  margin: 0 3px;
  display: flex;
  justify-content: space-between;
}

.actions-container button:hover {
  cursor: pointer;
}
